:host {
  display: inline-block;
  box-sizing: border-box;
  max-width: 150px;
  max-height: 150px;
}
:host::shadow img {
  width: 100%;
  border: 2px solid red;
}
#placeholder {
  background-color: inherit;
  opacity: 1;
}
#placeholder.fadein {
  transition: opacity 0.5s linear;
  opacity: 0;
}